In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd

# Read train.csv file and set datatype
data_type = {'store': 'int8', 'item': 'int8', 'sales': 'int16'}
df = pd.read_csv("C:/Users/gautam.ghosh/Desktop/ML-Data/train.csv/train.csv", parse_dates= ['date'], dtype= data_type)
df.describe()
print('Train shape:', df.shape)

Train shape: (913000, 4)

In [2]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day']=df['date'].dt.day
df['weekofyear'] = df['date'].dt.weekofyear
df['dayofweek'] = df['date'].dt.dayofweek
df['weekday_name'] = df['date'].dt.weekday_name
df['dayofyear']=df['date'].dt.dayofyear
df['quarter'] = df['date'].dt.quarter
df.drop('date', axis=1, inplace=True)
df['weekend'] = ((df['dayofweek']) // 5 == 1).astype(float)
df = pd.get_dummies(df)
print(df)

        store  item  sales  year  month  day  weekofyear  dayofweek  \
0           1     1     13  2013      1    1           1          1
1           1     1     11  2013      1    2           1          2
2           1     1     14  2013      1    3           1          3
3           1     1     13  2013      1    4           1          4
4           1     1     10  2013      1    5           1          5
5           1     1     12  2013      1    6           1          6
6           1     1     10  2013      1    7           2          0
7           1     1      9  2013      1    8           2          1
8           1     1     12  2013      1    9           2          2
9           1     1      9  2013      1   10           2          3
10          1     1      9  2013      1   11           2          4
11          1     1      7  2013      1   12           2          5
12          1     1     10  2013      1   13           2          6
13          1     1     12  2013      1   14           3          0
14          1     1      5  2013      1   15           3          1
15          1     1      7  2013      1   16           3          2
16          1     1     16  2013      1   17           3          3
17          1     1      7  2013      1   18           3          4
18          1     1     18  2013      1   19           3          5
19          1     1     15  2013      1   20           3          6
20          1     1      8  2013      1   21           4          0
21          1     1      7  2013      1   22           4          1
22          1     1      9  2013      1   23           4          2
23          1     1      8  2013      1   24           4          3
24          1     1     14  2013      1   25           4          4
25          1     1     12  2013      1   26           4          5
26          1     1     12  2013      1   27           4          6
27          1     1     11  2013      1   28           5          0
28          1     1      6  2013      1   29           5          1
29          1     1      9  2013      1   30           5          2
...       ...   ...    ...   ...    ...  ...         ...        ...
912970     10    50     49  2017     12    2          48          5
912971     10    50     75  2017     12    3          48          6
912972     10    50     54  2017     12    4          49          0
912973     10    50     68  2017     12    5          49          1
912974     10    50     60  2017     12    6          49          2
912975     10    50     66  2017     12    7          49          3
912976     10    50     67  2017     12    8          49          4
912977     10    50     69  2017     12    9          49          5
912978     10    50     69  2017     12   10          49          6
912979     10    50     54  2017     12   11          50          0
912980     10    50     67  2017     12   12          50          1
912981     10    50     67  2017     12   13          50          2
912982     10    50     72  2017     12   14          50          3
912983     10    50     72  2017     12   15          50          4
912984     10    50     52  2017     12   16          50          5
912985     10    50     86  2017     12   17          50          6
912986     10    50     53  2017     12   18          51          0
912987     10    50     54  2017     12   19          51          1
912988     10    50     51  2017     12   20          51          2
912989     10    50     63  2017     12   21          51          3
912990     10    50     75  2017     12   22          51          4
912991     10    50     70  2017     12   23          51          5
912992     10    50     76  2017     12   24          51          6
912993     10    50     51  2017     12   25          52          0
912994     10    50     41  2017     12   26          52          1
912995     10    50     63  2017     12   27          52          2
912996     10    50     59  2017     12   28          52          3
912997     10    50     74  2017     12   29          52          4
912998     10    50     62  2017     12   30          52          5
912999     10    50     82  2017     12   31          52          6

        dayofyear  quarter  weekend  weekday_name_Friday  weekday_name_Monday  \
0               1        1      0.0                    0                    0
1               2        1      0.0                    0                    0
2               3        1      0.0                    0                    0
3               4        1      0.0                    1                    0
4               5        1      1.0                    0                    0
5               6        1      1.0                    0                    0
6               7        1      0.0                    0                    1
7               8        1      0.0                    0                    0
8               9        1      0.0                    0                    0
9              10        1      0.0                    0                    0
10             11        1      0.0                    1                    0
11             12        1      1.0                    0                    0
12             13        1      1.0                    0                    0
13             14        1      0.0                    0                    1
14             15        1      0.0                    0                    0
15             16        1      0.0                    0                    0
16             17        1      0.0                    0                    0
17             18        1      0.0                    1                    0
18             19        1      1.0                    0                    0
19             20        1      1.0                    0                    0
20             21        1      0.0                    0                    1
21             22        1      0.0                    0                    0
22             23        1      0.0                    0                    0
23             24        1      0.0                    0                    0
24             25        1      0.0                    1                    0
25             26        1      1.0                    0                    0
26             27        1      1.0                    0                    0
27             28        1      0.0                    0                    1
28             29        1      0.0                    0                    0
29             30        1      0.0                    0                    0
...           ...      ...      ...                  ...                  ...
912970        336        4      1.0                    0                    0
912971        337        4      1.0                    0                    0
912972        338        4      0.0                    0                    1
912973        339        4      0.0                    0                    0
912974        340        4      0.0                    0                    0
912975        341        4      0.0                    0                    0
912976        342        4      0.0                    1                    0
912977        343        4      1.0                    0                    0
912978        344        4      1.0                    0                    0
912979        345        4      0.0                    0                    1
912980        346        4      0.0                    0                    0
912981        347        4      0.0                    0                    0
912982        348        4      0.0                    0                    0
912983        349        4      0.0                    1                    0
912984        350        4      1.0                    0                    0
912985        351        4      1.0                    0                    0
912986        352        4      0.0                    0                    1
912987        353        4      0.0                    0                    0
912988        354        4      0.0                    0                    0
912989        355        4      0.0                    0                    0
912990        356        4      0.0                    1                    0
912991        357        4      1.0                    0                    0
912992        358        4      1.0                    0                    0
912993        359        4      0.0                    0                    1
912994        360        4      0.0                    0                    0
912995        361        4      0.0                    0                    0
912996        362        4      0.0                    0                    0
912997        363        4      0.0                    1                    0
912998        364        4      1.0                    0                    0
912999        365        4      1.0                    0                    0

        weekday_name_Saturday  weekday_name_Sunday  weekday_name_Thursday  \
0                           0                    0                      0
1                           0                    0                      0
2                           0                    0                      1
3                           0                    0                      0
4                           1                    0                      0
5                           0                    1                      0
6                           0                    0                      0
7                           0                    0                      0
8                           0                    0                      0
9                           0                    0                      1
10                          0                    0                      0
11                          1                    0                      0
12                          0                    1                      0
13                          0                    0                      0
14                          0                    0                      0
15                          0                    0                      0
16                          0                    0                      1
17                          0                    0                      0
18                          1                    0                      0
19                          0                    1                      0
20                          0                    0                      0
21                          0                    0                      0
22                          0                    0                      0
23                          0                    0                      1
24                          0                    0                      0
25                          1                    0                      0
26                          0                    1                      0
27                          0                    0                      0
28                          0                    0                      0
29                          0                    0                      0
...                       ...                  ...                    ...
912970                      1                    0                      0
912971                      0                    1                      0
912972                      0                    0                      0
912973                      0                    0                      0
912974                      0                    0                      0
912975                      0                    0                      1
912976                      0                    0                      0
912977                      1                    0                      0
912978                      0                    1                      0
912979                      0                    0                      0
912980                      0                    0                      0
912981                      0                    0                      0
912982                      0                    0                      1
912983                      0                    0                      0
912984                      1                    0                      0
912985                      0                    1                      0
912986                      0                    0                      0
912987                      0                    0                      0
912988                      0                    0                      0
912989                      0                    0                      1
912990                      0                    0                      0
912991                      1                    0                      0
912992                      0                    1                      0
912993                      0                    0                      0
912994                      0                    0                      0
912995                      0                    0                      0
912996                      0                    0                      1
912997                      0                    0                      0
912998                      1                    0                      0
912999                      0                    1                      0

        weekday_name_Tuesday  weekday_name_Wednesday
0                          1                       0
1                          0                       1
2                          0                       0
3                          0                       0
4                          0                       0
5                          0                       0
6                          0                       0
7                          1                       0
8                          0                       1
9                          0                       0
10                         0                       0
11                         0                       0
12                         0                       0
13                         0                       0
14                         1                       0
15                         0                       1
16                         0                       0
17                         0                       0
18                         0                       0
19                         0                       0
20                         0                       0
21                         1                       0
22                         0                       1
23                         0                       0
24                         0                       0
25                         0                       0
26                         0                       0
27                         0                       0
28                         1                       0
29                         0                       1
...                      ...                     ...
912970                     0                       0
912971                     0                       0
912972                     0                       0
912973                     1                       0
912974                     0                       1
912975                     0                       0
912976                     0                       0
912977                     0                       0
912978                     0                       0
912979                     0                       0
912980                     1                       0
912981                     0                       1
912982                     0                       0
912983                     0                       0
912984                     0                       0
912985                     0                       0
912986                     0                       0
912987                     1                       0
912988                     0                       1
912989                     0                       0
912990                     0                       0
912991                     0                       0
912992                     0                       0
912993                     0                       0
912994                     1                       0
912995                     0                       1
912996                     0                       0
912997                     0                       0
912998                     0                       0
912999                     0                       0

[913000 rows x 18 columns]

In [3]:
col = [i for i in df.columns if i not in ['sales']]
print(col)

['store', 'item', 'year', 'month', 'day', 'weekofyear', 'dayofweek', 'dayofyear', 'quarter', 'weekend', 'weekday_name_Friday', 'weekday_name_Monday', 'weekday_name_Saturday', 'weekday_name_Sunday', 'weekday_name_Thursday', 'weekday_name_Tuesday', 'weekday_name_Wednesday']

In [4]:
y = 'sales'

In [5]:
train = df.loc[~df.sales.isna()]
print(train)

        store  item  sales  year  month  day  weekofyear  dayofweek  \
0           1     1     13  2013      1    1           1          1
1           1     1     11  2013      1    2           1          2
2           1     1     14  2013      1    3           1          3
3           1     1     13  2013      1    4           1          4
4           1     1     10  2013      1    5           1          5
5           1     1     12  2013      1    6           1          6
6           1     1     10  2013      1    7           2          0
7           1     1      9  2013      1    8           2          1
8           1     1     12  2013      1    9           2          2
9           1     1      9  2013      1   10           2          3
10          1     1      9  2013      1   11           2          4
11          1     1      7  2013      1   12           2          5
12          1     1     10  2013      1   13           2          6
13          1     1     12  2013      1   14           3          0
14          1     1      5  2013      1   15           3          1
15          1     1      7  2013      1   16           3          2
16          1     1     16  2013      1   17           3          3
17          1     1      7  2013      1   18           3          4
18          1     1     18  2013      1   19           3          5
19          1     1     15  2013      1   20           3          6
20          1     1      8  2013      1   21           4          0
21          1     1      7  2013      1   22           4          1
22          1     1      9  2013      1   23           4          2
23          1     1      8  2013      1   24           4          3
24          1     1     14  2013      1   25           4          4
25          1     1     12  2013      1   26           4          5
26          1     1     12  2013      1   27           4          6
27          1     1     11  2013      1   28           5          0
28          1     1      6  2013      1   29           5          1
29          1     1      9  2013      1   30           5          2
...       ...   ...    ...   ...    ...  ...         ...        ...
912970     10    50     49  2017     12    2          48          5
912971     10    50     75  2017     12    3          48          6
912972     10    50     54  2017     12    4          49          0
912973     10    50     68  2017     12    5          49          1
912974     10    50     60  2017     12    6          49          2
912975     10    50     66  2017     12    7          49          3
912976     10    50     67  2017     12    8          49          4
912977     10    50     69  2017     12    9          49          5
912978     10    50     69  2017     12   10          49          6
912979     10    50     54  2017     12   11          50          0
912980     10    50     67  2017     12   12          50          1
912981     10    50     67  2017     12   13          50          2
912982     10    50     72  2017     12   14          50          3
912983     10    50     72  2017     12   15          50          4
912984     10    50     52  2017     12   16          50          5
912985     10    50     86  2017     12   17          50          6
912986     10    50     53  2017     12   18          51          0
912987     10    50     54  2017     12   19          51          1
912988     10    50     51  2017     12   20          51          2
912989     10    50     63  2017     12   21          51          3
912990     10    50     75  2017     12   22          51          4
912991     10    50     70  2017     12   23          51          5
912992     10    50     76  2017     12   24          51          6
912993     10    50     51  2017     12   25          52          0
912994     10    50     41  2017     12   26          52          1
912995     10    50     63  2017     12   27          52          2
912996     10    50     59  2017     12   28          52          3
912997     10    50     74  2017     12   29          52          4
912998     10    50     62  2017     12   30          52          5
912999     10    50     82  2017     12   31          52          6

        dayofyear  quarter  weekend  weekday_name_Friday  weekday_name_Monday  \
0               1        1      0.0                    0                    0
1               2        1      0.0                    0                    0
2               3        1      0.0                    0                    0
3               4        1      0.0                    1                    0
4               5        1      1.0                    0                    0
5               6        1      1.0                    0                    0
6               7        1      0.0                    0                    1
7               8        1      0.0                    0                    0
8               9        1      0.0                    0                    0
9              10        1      0.0                    0                    0
10             11        1      0.0                    1                    0
11             12        1      1.0                    0                    0
12             13        1      1.0                    0                    0
13             14        1      0.0                    0                    1
14             15        1      0.0                    0                    0
15             16        1      0.0                    0                    0
16             17        1      0.0                    0                    0
17             18        1      0.0                    1                    0
18             19        1      1.0                    0                    0
19             20        1      1.0                    0                    0
20             21        1      0.0                    0                    1
21             22        1      0.0                    0                    0
22             23        1      0.0                    0                    0
23             24        1      0.0                    0                    0
24             25        1      0.0                    1                    0
25             26        1      1.0                    0                    0
26             27        1      1.0                    0                    0
27             28        1      0.0                    0                    1
28             29        1      0.0                    0                    0
29             30        1      0.0                    0                    0
...           ...      ...      ...                  ...                  ...
912970        336        4      1.0                    0                    0
912971        337        4      1.0                    0                    0
912972        338        4      0.0                    0                    1
912973        339        4      0.0                    0                    0
912974        340        4      0.0                    0                    0
912975        341        4      0.0                    0                    0
912976        342        4      0.0                    1                    0
912977        343        4      1.0                    0                    0
912978        344        4      1.0                    0                    0
912979        345        4      0.0                    0                    1
912980        346        4      0.0                    0                    0
912981        347        4      0.0                    0                    0
912982        348        4      0.0                    0                    0
912983        349        4      0.0                    1                    0
912984        350        4      1.0                    0                    0
912985        351        4      1.0                    0                    0
912986        352        4      0.0                    0                    1
912987        353        4      0.0                    0                    0
912988        354        4      0.0                    0                    0
912989        355        4      0.0                    0                    0
912990        356        4      0.0                    1                    0
912991        357        4      1.0                    0                    0
912992        358        4      1.0                    0                    0
912993        359        4      0.0                    0                    1
912994        360        4      0.0                    0                    0
912995        361        4      0.0                    0                    0
912996        362        4      0.0                    0                    0
912997        363        4      0.0                    1                    0
912998        364        4      1.0                    0                    0
912999        365        4      1.0                    0                    0

        weekday_name_Saturday  weekday_name_Sunday  weekday_name_Thursday  \
0                           0                    0                      0
1                           0                    0                      0
2                           0                    0                      1
3                           0                    0                      0
4                           1                    0                      0
5                           0                    1                      0
6                           0                    0                      0
7                           0                    0                      0
8                           0                    0                      0
9                           0                    0                      1
10                          0                    0                      0
11                          1                    0                      0
12                          0                    1                      0
13                          0                    0                      0
14                          0                    0                      0
15                          0                    0                      0
16                          0                    0                      1
17                          0                    0                      0
18                          1                    0                      0
19                          0                    1                      0
20                          0                    0                      0
21                          0                    0                      0
22                          0                    0                      0
23                          0                    0                      1
24                          0                    0                      0
25                          1                    0                      0
26                          0                    1                      0
27                          0                    0                      0
28                          0                    0                      0
29                          0                    0                      0
...                       ...                  ...                    ...
912970                      1                    0                      0
912971                      0                    1                      0
912972                      0                    0                      0
912973                      0                    0                      0
912974                      0                    0                      0
912975                      0                    0                      1
912976                      0                    0                      0
912977                      1                    0                      0
912978                      0                    1                      0
912979                      0                    0                      0
912980                      0                    0                      0
912981                      0                    0                      0
912982                      0                    0                      1
912983                      0                    0                      0
912984                      1                    0                      0
912985                      0                    1                      0
912986                      0                    0                      0
912987                      0                    0                      0
912988                      0                    0                      0
912989                      0                    0                      1
912990                      0                    0                      0
912991                      1                    0                      0
912992                      0                    1                      0
912993                      0                    0                      0
912994                      0                    0                      0
912995                      0                    0                      0
912996                      0                    0                      1
912997                      0                    0                      0
912998                      1                    0                      0
912999                      0                    1                      0

        weekday_name_Tuesday  weekday_name_Wednesday
0                          1                       0
1                          0                       1
2                          0                       0
3                          0                       0
4                          0                       0
5                          0                       0
6                          0                       0
7                          1                       0
8                          0                       1
9                          0                       0
10                         0                       0
11                         0                       0
12                         0                       0
13                         0                       0
14                         1                       0
15                         0                       1
16                         0                       0
17                         0                       0
18                         0                       0
19                         0                       0
20                         0                       0
21                         1                       0
22                         0                       1
23                         0                       0
24                         0                       0
25                         0                       0
26                         0                       0
27                         0                       0
28                         1                       0
29                         0                       1
...                      ...                     ...
912970                     0                       0
912971                     0                       0
912972                     0                       0
912973                     1                       0
912974                     0                       1
912975                     0                       0
912976                     0                       0
912977                     0                       0
912978                     0                       0
912979                     0                       0
912980                     1                       0
912981                     0                       1
912982                     0                       0
912983                     0                       0
912984                     0                       0
912985                     0                       0
912986                     0                       0
912987                     1                       0
912988                     0                       1
912989                     0                       0
912990                     0                       0
912991                     0                       0
912992                     0                       0
912993                     0                       0
912994                     1                       0
912995                     0                       1
912996                     0                       0
912997                     0                       0
912998                     0                       0
912999                     0                       0

[913000 rows x 18 columns]

In [6]:
from sklearn import cross_validation
X_train, X_test, y_train, y_test = cross_validation.train_test_split(train[col],train[y], test_size=0.2, random_state=42)
print(X_train.shape)
print(X_test.shape)
X_train.head()

C:\anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

(730400, 17)
(182600, 17)

,store,item,year,month,day,weekofyear,dayofweek,dayofyear,quarter,weekend,weekday_name_Friday,weekday_name_Monday,weekday_name_Saturday,weekday_name_Sunday,weekday_name_Thursday,weekday_name_Tuesday,weekday_name_Wednesday
591855,5,33,2013,8,20,34,1,232,3,0.0,0,0,0,0,0,1,0
295447,2,17,2017,1,1,52,6,1,1,1.0,0,0,0,1,0,0,0
909684,9,50,2013,12,3,49,1,337,4,0.0,0,0,0,0,0,1,0
202807,2,12,2013,5,2,18,3,122,2,0.0,0,0,0,0,1,0,0
429503,6,24,2014,1,29,5,2,29,1,0.0,0,0,0,0,0,0,1

In [7]:
X_test.head()

,store,item,year,month,day,weekofyear,dayofweek,dayofyear,quarter,weekend,weekday_name_Friday,weekday_name_Monday,weekday_name_Saturday,weekday_name_Sunday,weekday_name_Thursday,weekday_name_Tuesday,weekday_name_Wednesday
491212,10,27,2013,1,19,3,5,19,1,1.0,0,0,1,0,0,0,0
64903,6,4,2015,9,21,39,0,264,3,0.0,0,1,0,0,0,0,0
36378,10,2,2017,8,12,32,5,224,3,1.0,0,0,1,0,0,0,0
133834,4,8,2014,6,21,25,5,172,2,1.0,0,0,1,0,0,0,0
633538,7,35,2017,10,9,41,0,282,4,0.0,0,1,0,0,0,0,0

In [8]:
y_train.head()

591855    41
295447    34
909684    39
202807    73
429503    28
Name: sales, dtype: int16

In [9]:
y_test.head()

491212     21
64903      15
36378     100
133834     93
633538     33
Name: sales, dtype: int16

In [10]:
from sklearn import linear_model
reg = linear_model.LinearRegression()
reg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [11]:
from sklearn.metrics import mean_absolute_error
predictions = reg.predict(X_test)
print(mean_absolute_error(predictions,y_test))

21.70254817465218

In [12]:
from sklearn.ensemble import RandomForestRegressor
RF = RandomForestRegressor(n_estimators=160, n_jobs=-1)
RF.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=160, n_jobs=-1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [ ]:
from sklearn.metrics import mean_absolute_error
predictions = RF.predict(X_test)
print(mean_absolute_error(predictions,y_test))